<nav class="container">

    <ul>
        <li><a href="/"><b>Inicio(NO INDEX)</b></a></li>
        <li><a href="/contacto"><b>Contacto</b></a></li>
        <li><a href="/productos"><b>Productos</b></a></l>
        <li><a href="/quienesSomos"><b>¿Quiénes Somos?</b></a></li>
        <li><a href="/servicios"><b>Servicios</b></a></li>
        <li><a href="/instalaciones"><b>Instalaciones</b></a></li>
        <li><a href="/admin/servicios"><b>Admin</b></a></li>
    </ul>

</nav>